<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar ">
        {% if user.is_authenticated %}

            <!-- Brand -->
            <a class="navbar-brand pt-0 waves-effect" href="/">
                    <i class="fab fa-instagram fa-2x"></i>

            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="#">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" style="width:150px">
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link waves-effect"  href="{% url 'upload_image'%}"><i class="fa fa-upload fa-2x"></i>Upload</a>

                        </li>
                        <ul class="navbar-nav nav-flex-icons">
                                <li class="nav-item">
                                    <form action="{% url 'search_results' %}">
                                            <div class="form-group">
                                                    <input type="text" name="username" class="">
                                                    <span><input type="submit" value="Search" class="btn-sm"></span>

                                             </div>
                                    </form>


                               </li>


                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a href="{%url 'profile'%}" class="nav-link waves-effect">
                                <!-- <i class="fa fa-user-circle fa-3x"></i> -->
                          <img src="{{ user.profile.photo.url}}" alt="" style="width:50px; height:50px; border-radius:50px">

                           <span class="ml-3">{{user.username}}</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="/logout" class="nav-link border border-light rounded waves-effect ml-5">
                                <!-- <i class="fa fa-sign-out mr-2 fa-3x text-dark"></i> -->
                              Logout
                        </a>
                    </li>
                </ul>

            </div>

        {% endif %}
    </nav>
    <!-- Navbar -->
